.calculator{

}
input{
    width:2%;
    height:2vh;
    margin:10px;
    color: rgb(180, 161, 161);
    background-color: rgb(65, 60, 60);
    font-size:20px;
    cursor: pointer;
}
.display{
    width:11%;
    border-radius: 10px solid grey;
}